:root {
    --background-color : #3a2665;
    --orange : #ed6d1d;
    --jaune : #f6c543;
    --vert : #336c66;
}

body{
    background: var(--background-color);
    max-height: 100vh;
    overflow: hidden;
}
main{
    text-align: center;
}
.banner{
    padding: 70px 20px;
    height: fit-content;
}

img{
    height: 200px;
    width: 100%;
}

.btnContaint{
    margin-top: 70px;
    display: flex;
    padding: 0 20px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn{
    
    background: var(--orange);
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 12px 25px;

}

a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

label{
    display: block;
    margin: 0 0 10px;
    color: white;
    font-weight: 800;
    font-size: 1.2em;
}

.number-field{
    background: var(--background-color);
    margin: 0 10px;
    padding: 10px;
    font-size: 2em;
    color: var(--jaune);
}

#playersInput{
    background: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 1.1em;
    color: var(--jaune);
}

  .number-input input {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
  }

  .number-input button {
    width: 40px;
    height: 40px;
    background: var(--orange);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }

  .number-input button:hover {
    background-color: #ddd;
  }

 

  .btn.start:hover {
    background-color: #0056b3;
  }

