:root {
    --background-color : #3a2665;
    --orange : #ed6d1d;
    --jaune : #f6c543;
    --vert : #336c66;
}

@font-face {
    font-family: poppins;
    src: url(./font/Poppins-Medium.ttf);
  }

.hidden{
    display: none;
}

p,label,button{
    font-family: 'poppins';
}

.modal{
    text-align: justify;
    padding: 5px 10px;
    position: absolute;
    font-size: 1.2em;
    font-weight: 600;
    overflow: auto;
    height: 80vh;
    width: 92vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--jaune);
    color: black;
    
}
.modalOpener{
    margin-top: 5px;
    position: absolute;
    right: 5px;
    z-index: 2;
}

body{
    background: var(--background-color);
    max-height: 100vh;
    overflow: hidden;
}
main{
    animation: main 0.3s ease 0s 1 normal forwards;
    text-align: center;
}
.banner{
    padding: 70px 20px 0;
    height: fit-content;
}
.slogan{
    
    font-weight: 600;
    color: white;
    margin: 0 0 60px;
}

img{
    height: 200px;
    width: 100%;
}

.btnContaint{
    margin-top: 40px;
    display: flex;
    padding: 0 20px 30px;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.btn{
    background: var(--orange);
    border-radius: 6px;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    padding: 12px 25px;

}

a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,-50%);
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    font-weight: bold;
}

label{
    display: block;
    margin: 0 0 10px;
    color: white;
    font-weight: 800;
    font-size: 1.2em;
}

.number-field{
    background: var(--background-color);
    margin: 0 10px;
    padding: 10px;
    font-size: 2em;
    color: var(--jaune);
}

#playersInput{
    background: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    font-size: 1.1em;
    color: var(--jaune);
}

  .number-input input {
    width: 50px;
    height: 30px;
    text-align: center;
    border: none;
    outline: none;
  }

  .number-input button {
    width: 40px;
    height: 40px;
    background: var(--orange);
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
  }

  .number-input button:hover {
    background-color: var(--jaune);
  }

 

  .btn.start:hover {
    background-color: var(--jaune);
  }

  @keyframes main {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}